@tailwind base;
@tailwind components;
@tailwind utilities;
/* .contain{ */
  /* margin: auto;
  width: 50%;
  height: 25%;
  border: 3px solid green;
  padding: 10px;
} */
body{
  background-color: gray;
 background-size: 100% 100%;
  background-repeat: no-repeat;
  background-size: auto;
  margin: auto;
 padding: 3rem;
 
}
.card{
  display: grid;
  grid-template-rows: max-content 200px 1fr;
}
.cards{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  /* grid-gap: 20px; */
}